body{
    width: 350px;
    height: 500px;
    background:url('images/background.jpg') ;
}

h1{
    text-align: center;
    padding-bottom: 10px;
    color: rgb(14, 231, 14);
}
textarea{
    height:115px;
    width:100%;
    resize: none;
    border-radius: 10px;
    background-color: #333;
    color: #FFF;
    border: 1px solid #666;
    outline: none;
}

.conteneur{
    text-align: center;
    padding: 10px;
}

.bouttons{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}


         
.boutton1 {
    background-image: linear-gradient(to right, #314755 0%, #26a0da  51%, #314755  100%);
    margin: 10px;
    padding: 10px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    border-radius: 10px;
    display: block;
  }

.boutton1:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}


           
.boutton2 {
  background-image: linear-gradient(to right, #e52d27 0%, #b31217  51%, #e52d27  100%);
  margin: 10px;
  padding: 10px 25px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  border-radius: 10px;
  display: block;
  }

.boutton2:hover {
  background-position: right center; 
  color: #fff;
  text-decoration: none;
}
 
         
.boutcopie {
  background-image: linear-gradient(to right, #00C9FF 0%, #92FE9D  51%, #00C9FF  100%);
  margin: 10px;
  padding: 10px 25px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  border-radius: 10px;
  display: block;
}

.boutcopie:hover {
  background-position: right center; 
  color: #fff;
  text-decoration: none;
}
    
.divbouttoncipe{
  display: flex;
  justify-content: center;
}

